
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Vos futur classe taiwind :  */

.App {
  background-color: bg-gray-900;
  height: h-screen;
}

.shorts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: h-screen;
}

.shorts-video {
  max-width: w-9/10;
  max-height: h-90vh;
  background-color: bg-gray-800;
  overflow: hidden;
}
