
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Vos futur classe taiwind :  */



/* css basique ici à titre d'exemple faudra le tej :  */
.haut {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
}
.Searching {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10%;
    margin-right: 10%;
    border-radius: 5px;
    padding: 0.5rem;
    background-color:#444444;
}
.Searching:hover {
    background-color: #333333;
    color: #fff;
}
.rechercher {
    background-color: #444444;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: 1rem;
    color: #fff;
}
.rechercher:hover {
    background-color: #333333;
    color: #fff;
}